.desaparece{
  
  display:active;
 }
 
 
 .titulo_disciplina{
   
   display:none;
   
 }
 
 
 
 
 html{
   scroll-behavior: smooth;
 }
 
 h1{
 
     font-size: 3em;
     text-align: center;
     font-family: 'Bebas Neue', cursive;
     margin:2em 0;
     letter-spacing: 5px;
   
 }
 
 .cabecalho{
   
   display: flex;
    flex-wrap: wrap;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background: #285861;
    width: 100vw;
    justify-content: flex-end;
    align-items: center;
   height:4em;
 }
 
 #logo{
 
   padding: 0.5rem;
   flex:0 1 200px;
   position: absolute;
   top: 11%;
   left: 5%;
   width: 13em;
 }
 
 #logo_wpp{
 
   position: fixed;
   z-index: 99;
   bottom: 2%;
   left: 2%;
   font-family: 'Roboto', sans-serif;
 
 
 }
 
 
 
 
 #logo_wpp p{
 
   border: 2px solid white;
   background: #54ff7f;
   border-radius: 10px;
   padding: 0.3rem;
   margin-bottom: 0.3rem;
   font-weight: bold;
 }
 
 .navegacao__header{
   
   width:15rem;
   display:flex;
   justify-content:flex-end;
   list-style-type:none;
   font-family: 'Bebas Neue', cursive;
   font-size:25px;
   flex:1 1 180px;  
  
 }
 
 .navegacao__header a{
   
   padding-right:1rem;
   cursor:pointer;
   color: #f9f9f9;
 }

#banner_principal{
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter:brightness(0.5);
  
}


 
 .teste{
   width:5vw;
   background:blue;
   height:30vh;
   margin-left:rem;
 }
 
 .master{
 
   position:relative;
   
   
   
 }
 
 #chamada_1, #chamada_teste{
 
   position: absolute;
   font-family: 'Bebas Neue', cursive;
   color: #F1F7ED;
   font-size:45px;
   text-transform:  uppercase ;
   left: 5%;
   margin-top: 1rem;
   
 }

#chamada_1{
  
  top:30%;
  left: 50%;
  transform:translate(-50%, 0);
  
  
}

#chamada_teste{
  
  top: 53%;
  text-align: center;
  left: 50%;
  transform:translate(-50%, 0);
  width:15em;
  
}




 
 #borda_chamada1{
 
   width: 50%;
 }
 
 #borda_chamada2{
 
   width: 80%;
 }
 
 #borda_chamada3{
 
   width: 47%;
 }
 
 .borda_chamada{
 
   position: absolute;
   top: 20%;
   left: 5%;
   border: 1px solid white;
   border-radius: 8px;
   background-color: #f6e8e9;
   height: 5rem;
   
  
 background: rgba(15, 15, 15, 0.65);
 border-radius: 16px;
 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(1.9px);
 -webkit-backdrop-filter: blur(1.9px);
 border: 1px solid rgba(15, 15, 15, 0.31);
 
 }
 
 
 
 
 
 
 .Slides{
   
   
   width:100%;
   height:47rem;
   position:relative;
 }
 
 .saibaMais{
   
   box-sizing:border-box;
   color:#F1F7ED;
   position:absolute;
   border-radius:8px;
   padding:1rem 2rem;
   cursor:pointer;
   top:80%;
   left:50%;
   transform:translate(-50%, 0);
   background:#285861;
   text-transform:uppercase;
   opacity:0.9;
   font-size: 1.5em;
   letter-spacing: 4px;
   font-family: 'Bebas Neue', cursive;
   
 }
 
 .saibaMais: hover{
   
 }
 
 
 
 
 .next, .previous{
   
   position:absolute;
   top:50%;
   font-size:25px;
   color:white;
   cursor:pointer;
   width:2rem;
   text-align:center;
   display:none;
 }
 
 .previous{
   right:0;
   margin-right:0.5rem;
   
 }
 
 .next:hover, .previous:hover{
   
 background-color:rgba(0,0,0,0.8);;
 transition:500ms background-color;
 }
 
 #posicaoSlide{
   position:absolute;
   top:0;
   left:2rem;
   font-size:20px;
 }
 
 .fade {
   -webkit-animation-name: fade;
   -webkit-animation-duration: 2s;
   animation-name: fade;
   animation-duration: 2s;
 }
 
 @-webkit-keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }
 
 @keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }
 
 #sobreNos-container{
   margin:3rem 0;
   display: flex;
   align-items: center;
   background:url("../img/Banner4.jpg") ; 
   height: 100%;
 }
 
 .sobreNos{
   display:flex;
   align-items: center;
   border-sizing:border-box;
   margin: 4rem 6rem;
   padding: 2rem;
   border: 1px solid #e2e2e2;
   border-radius:8px;
   box-shadow:3px 3px 3px grey;
  /* From https://css.glass */
 background: rgba(255, 255, 255, 0.67);
 border-radius: 16px;
 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(6.9px);
 -webkit-backdrop-filter: blur(6.9px);
 border: 1px solid rgba(233, 231, 224, 0.3);
 flex-wrap:wrap;
 }
 
 
 .sobreNos p{
   
   text-align:justify;
   color:#0e1025;
   font-family: 'Open Sans', sans-serif;
   font-size: 21px;
   line-height:30px;
 }
 
 .sobreNos img{
   
   flex:1 1 200px;
   
 }
 
 .sobreNos_descricao{
   
   flex:1 1 200px;
   
 }
 
 .criador{
   
   margin:1rem 3rem;
   width:20%;
   height:15rem;
   background:red;
   
 }
 
 .collapsible{
  
   box-sizing: border-box;
     padding: 1em;
     margin: 0;
     background-color: #44525a;
     color: white;
     font-size: 1.5em;
     font-family: 'Open Sans';
     margin-top: 1em;
     cursor:pointer;
     text-align: center;
     text-transform: uppercase;
   
 }
 
 .collapsible:hover{
   
   background-color:#28587B;
     
 }
 
 .target{
   
   display:none;
   list-style-type: none;
   line-height: 2em;
   font-size: 1.5em;
   box-sizing: border-box;
   margin: 0;
   background-color: #F1F2EE;
   padding: 1em;
   font-family: 'Open Sans';
 }
 
 .target span{
   
   font-weight: bold;
   text-transform: uppercase;
   
 }
 
 .cursos_imagem_container{
 
 width:35%;
 height: 37rem;
 flex:1 1 500px;
 
 }
 
 .cursos_img{
 width:  90%;
 height:  100%;
 object-fit: cover;
 margin-top: 1.5rem;
 margin-left:  1.5rem;
 border-radius: 5px;
 
 
 
 }

.cursos_rapidos_container{
  
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left:2em;
  
}

.cursos_rapido{
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height 100%: ;
  margin: 2em 0;
  
  
}


.cursos_imagem_container_rapido{
  
  width: 90%;
  max-height: 25em;
  flex: 1 1 500px;  
  margin-bottom: 3em;
  
}

.cursos_img_rapido{
  
  width: 100%;
  height: 98%;
  object-fit: cover;
  border-radius: 5px;
}

.descricao_curso_rapido{
  
  width: 91%;
  flex: 1 1 500px;
  font-family: 'Open Sans';
  font-size: 1.2em;
  text-align: left;
  flex:auto;
  line-height:1.2em;
  
}

#chamada_empreendedorismo{
 
  margin-bottom:1em;
  
  
}

.cursos_rapido h2{
  
  font-family: 'Open Sans';
  margin-bottom: 2em;
  font-size: 1.3em;
  font-weight: bold;
  
  
}

.detalhes_cursos_rapido{
  
  margin:2em 0;
  font-family: 'Open Sans';
  font-size: 1.2em;
  
}

.detalhes_cursos_rapido span{
  
  font-weight: bold;
  color: #285861;
}

.detalhes_cursos_rapido h2{
  
  margin-bottom: 2em;
  font-size: 1.5em;
  font-weight: bold;
}

.detalhes_cursos_rapido h3{
 
  text-align: left;
  padding-bottom: 1em;
}

.detalhes_cursos_rapido h4{
 
  margin-bottom: 5em;
  
}

.detalhes_cursos_rapido a{
  
    padding: 1em 7em;
    border-radius: 8px;
    box-sizing: border-box;
    color: #F1F7ED;
    background: #285861;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 4px;
    font-family: 'Bebas Neue', cursive;
}




 
 .descricao_curso{
 
   width: 55%;
   flex:1 1 500px;
 }
 
 .descricao_curso  h2{
 
   text-align: center;
   margin: 2em 0;
   font-size: 30px;
   font-family: 'Open Sans', sans-serif;
   text-transform: uppercase;
   font-weight:bold;
 }

 .descricao_curso h3{

  font-size:1.5em;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  text-transform: uppercase;
  margin: 2em 0 1em 0;
  font-weight: bolder;
 }

 
 
 .descricao_curso  p{
 
   
   font-size: 20px;
   font-family:'Open Sans', sans-serif ;
 }
 
 
 
 .cursos{
   
   display:flex;
   justify-content:space-around;
   flex-direction: row;
   flex-wrap:  wrap;
   background-color: #deefe8;
   padding:3em 0;
 
 }
 
 .cursos_container{
   display: flex;
   flex-wrap:wrap;
   flex-direction: row;
   width:95%;
   height 100%;
   margin: 2em 0;
   /*background:#4d82a4;
   box-shadow:5px 5px 5px grey;
   border-radius: 8px;
   flex-wrap:wrap;
   */
 }
 
 .cursos_container p{
   
   color:black;
   text-align:justify;
   margin:1rem;
 }
 
 .myButton {
   box-shadow: -5px 6px 0px -2px #e0cb2f;
   background-color:#fff475;
   border-radius:11px;
   border:1px solid #ffffff;
   cursor:pointer;
   color:#333333;
   font-family:Arial;
   font-size:15px;
   font-weight:bold;
   padding:10px 50px;
   text-decoration:none;
   text-shadow:0px 8px 42px #ffee66;
   margin: 0 auto;
 }
 .myButton:hover {
   background-color:#f0c17a;
 
 }
 .myButton:active {
   position:relative;
   top:1px;
 }
 
 /* Início da sessão dos Instrutores */
 
 .instrutores-master{
   
   display: grid;
   grid-template-columns: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
   gap: 1em;
   margin: 0 1em;
   
 }
 
 .presidente{
   
   grid-column: 1/6;
   display: flex;
   margin: 3em 0;
 }
 
 .presidente figure{
   
   
   height:30em;
   width:55%;
   
 }


 .presidente article{
   
   font-family: 'Open Sans', sans-serif;
   width: 85%;
   font-size: 1.3em;
   line-height:1.5em;
   
   
 }
 
 .presidente h2{
   
     text-align: center;
     font-size: 1.5em;
     font-weight: bold;
     margin: 1em 0;
 }
 
 .presidente p{
   
   margin: 5em 5em;
 }
 
 
 .instrutores-container{
   display: flex;
     margin-bottom: 2em;
     flex-direction: column;
     align-items: center;
     font-family: 'Open Sans', sans-serif;
     box-sizing: border-box;
     min-height: 32em;
     line-height:1.5em;
     
   
 }
 
 .instrutores-container p{
   
   margin: 0 3em;
     text-align: left;
     width: 80%;
     font-size:1.1em;
   
 }
 
 .instrutores-container h2{
   
     text-align: center;
     margin-bottom: 2em;
     font-size: 1.3em;
     font-weight: bold;
   
 }
 
 
 #foto-instrutor{
   
   object-fit:cover;
   width:90%;
   height:90%;
   border-radius: 8px;
 }
 
 .img-instrutor{
   
 width:90%;
 height:23rem;
 border-radius:8px;
 margin-bottom:1rem;
 display: flex;
 align-items: flex-end;
 justify-content: center;
 box-shadow: 1px 1px 5px black;
 padding-bottom: 0.3em;
 }

.img-instrutor:hover{
  
  transform:scale(1.05);
  transition:transform 500ms;
  
}


 
 
 .descricao-instrutor{
   
   margin:0 1.5em;
   
 }
 
 .descricao-instrutor h2{
   
   text-align:center;
   font-size:1.8em;
   margin-bottom:1rem;
   font-family: 'Open Sans', sans-serif;
   text-transform:uppercase;
   font-weight:bold;
 }
 
 .descricao-instrutor p{
   
   text-align:justify;
   margin:0 auto;
   width:90%;
   color:black;
   font-size:1.5em;
   font-family: 'Open Sans', sans-serif;
   line-height:40px;
   
 }
 
 
   
   
 
 
 
 /* Início da sessão dos Depoimentos */
 
 .depoimentos{

  background-color: #44525a;
  position:relative;
 }

 .depoimentos h4{

  text-align: center;
    font-size: 1.6em;
    font-family: 'Open Sans';
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin:6em 0;

 }

 .depoimentos_grid{
  padding: 5rem 0;
  background-color: #44525a;
  width: 100%;
  height: fit-content;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
   
   
 }
 
 h3{
   
   text-align:center;
   font-size:30px;
   padding:30px;
   font-family: 'Bebas Neue', cursive;
 }
 
 .depoimentos-container{
   
  background: white;
  border-radius: 10px;
  flex: 0 1 450px;
  margin: 3em 2em;
  padding-bottom: 2rem;
  max-height:13em;
  display:flex;
  flex-direction:column;
  max-height:18em;
  min-height:18em;
 
 
   
 }

.depoimentos-container figure{
  
  display:flex;
  margin:1em 0 0 3em;
  align-items:center;
}

.depoimentos-container article{
  
  overflow-y:scroll;
  
}

::-webkit-scrollbar {
  width: 8px;
  
}

::-webkit-scrollbar-thumb{
 
  background:grey;
  border-radius:8px;
}



 #texto-depoimento{
   color:black;
   text-align:left;
   margin:1em;
  font-family: 'Open Sans';
   
 }
 
 #autor-depoimento{
   color:black;
   font-weight:bold;
   text-align:center;
   margin-left:2em;
   font-family: 'Open Sans';
   font-size: 1.2em;
 }
 
 .foto{
   width:7rem;
   height:7rem;
   border-radius:100%;
   top:-25%;
   left:40%;
   object-fit: cover;
 }
 
 .video_container{

  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
    justify-items: center;
    align-items: center;
    padding-bottom: 3em;
    overflow:auto;
    position:relative;
 }

.video_depoimento{

    object-fit: cover;
    min-height: 25em;
  
}

.video_depoimento h3{
  
  color:white;
   font-family: 'Open Sans';
   font-size: 1.5em;
    font-weight: bold;
    margin: 1em 0;
  
}



/* Início da sessão das Fotos */


 
 .fotos-container{
   display:  grid;
   grid-template-columns: auto auto auto auto auto;
   grid-gap: 5px;
   margin: 0 1rem;
 
 }
 
 .imagens{
 
   height:15rem;
   width: 100%;
 
   
 }
 
 .img{
 
 width:  100%;
 height:  100%;
 object-fit: cover;
 box-shadow: 5px 5px 5px grey;
 border-radius: 5px;
 
 }
 
 .img:hover{
 
   transform:  scale(1.05);
   transition: transform 500ms;
 }
 
 .form, .form_mensagem, .enviar{
   
   width:50%;
   padding:0.5rem;
   display:block;
   margin:1rem auto;
   text-align:left;
   
 }
 
 .form_mensagem{
   
   resize:none;
 }
 
 .enviar{
   width:51%;
   text-align:center;
   cursor:pointer;
   padding:1rem;
   background-color:#fff475;
   border-radius:8px;
   border:1px solid #fffbc9;
 }
 
 .contato h1{
   
  text-align:center;
   font-size:30px;
   margin:5rem 0;
   font-family: 'Bebas Neue', cursive;
   letter-spacing: 5px;
   
 }
 
 .enviar:hover{
   
   background-color:#ffd235;
 }
 
 .localizacao_container{
   
   display:flex;
   justify-content:space-around;
   align-items:center;
   margin:3rem 0;
   flex-wrap:wrap;
 }
 #localizacao{
   
   text-align:center;
   margin:3rem;
   letter-spacing:5px;
   font-family: 'Bebas Neue', cursive;
   font-size:2.3em;
 }
 
 iframe{
   width:600px;
   height:200px;
   
   
 }
 
 .endereco_container{
   
   width:35%
     
 }
 
 .endereco_container p{
   
   color:black;
   text-align:left;
   font-size:1.2em;
   line-height:2em;
   font-family: 'Open Sans', sans-serif;
 }
 
 .endereco_container h3{
  
   margin:0.5em 0;
   text-align:left;
   font-size:1.5em;
   font-family: 'Open Sans', sans-serif;
   text-transform:uppercase;
   font-weight:bold;
 }
 
 
 
 footer{
 
   width: 100%;
   height: 10rem;
   background-color: #285861;
 }
 
 
 
 .logotipos{
 
   display: flex;
   align-items: center;
   justify-content:  center;
 
 }
 
 .logotipos p{
 
   padding:  0 5px 0 11px;
   font-size:  40px;
 }

 #container_controle_direita_video , #container_controle_esquerda_video{
    
    position:absolute;
    padding:17px;
    cursor:pointer;
     background: rgba(255, 255, 255, 0.67);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(6.9px);
}
    
    

   
   #container_controle_direita_video,  #container_controle_esquerda_video{
    
    bottom:14%;
    z-index: 1;
     
   }
   
   #container_controle_direita_video{
    
     left:0;
   }
   
   #container_controle_esquerda_video{
     
     right:0;
     
   }

#container_controle_esquerda, #container_controle_direita{
  
  display:none;
  
}
 
/*início da parte dos media queries*/

 @media screen and (min-width:280px) and (max-width:375px){
   
   .cabecalho {
    
    justify-content: center;
    
}
   
   
   .navegacao__header {
    
     font-size: 1em;
}
   
   .Slides {
    
    height: 33rem;
    
}
   
#logo {
   
    top: 15%;
    left: 50%;
    width: 7em;
    transform: translate(-50%, 0);
}
   
   #chamada_1, #chamada_teste {
    
    font-size: 1.2em;
    
}
   
  #chamada_1 {
     
    top: 35%;
    
}
   
  .saibaMais {
    
    padding: 0.7em;
    font-size: 0.9em;
    
     
  
}
   
   h1{
   
     font-size:1.3em;
   }
   
   .sobreNos{
    
    margin: 4rem 1rem;
     
     
   }
   
   .sobreNos p{
     
   font-size: 0.9em;
     
   }
   
   
   .cursos_img{
     
     height:70%;
     
   }
   
   .cursos_imagem_container{
     
     height:auto;
     
   }
   
   .descricao_curso h2{
     
     
     font-size:1.1em;
     
   }
   
   .cursos_container p {
    
     
     font-size:0.9em;
     
   }
   
   .descricao_curso h3 {
    
     font-size: 1em;
     
   }
   
   
   .collapsible{
     
     font-size:0.8em;
     
   }
   
   .target{
    
     font-size:0.6em;
   }
   
   .cursos_rapidos_container {
     
     display: flex;
    flex-direction: column;
     
   }
   
   .cursos_rapido h2 {
     
    
    font-size: 1.1em;
    
}
   .descricao_curso_rapido {
     
    
    font-size: 0.9em;
    
}
   
  .detalhes_cursos_rapido {
    
    font-size: 0.9em;
}
   
  .detalhes_cursos_rapido a {
    padding: 1em 5em;
    
}
   
   .cursos_imagem_container_rapido {
    
    flex: auto;
}
   
.cursos_img_rapido {
    
    height: 17em;
    
}
   
   .presidente {
    
    display: flex;
    flex-direction: column;
    align-items:center;
}
   
   
   .presidente figure {
     
    height: 14em; 
    
}
   
   .presidente p{
     
     margin:0;
     
   }
   
.presidente h2 {
    
    font-size: 1.1em;
    
}
   
   .presidente article {
    
    font-size: 0.9em;
    
}
   
   presidente p {
    margin: 2em;
}
   .img-instrutor {
    
    height: 13em;
    
}
   
   .instrutores-master {

    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
}
   .instrutores-container {
    
    scroll-snap-align: center;
}
   
   
  .instrutores-container h2 {
    
    
    font-size: 1.1em;
    
}
   
  .instrutores-container p {
    
    font-size: 0.9em;
    width:92%
}
   
   .depoimentos_grid {
    scroll-snap-type: x mandatory;
    overflow: auto;
    position: relative;
    display: flex;
    padding-bottom: 0;
}
   .depoimentos-container {
    font-size: 1em;
    margin: 5rem 0;
    scroll-snap-align: center;
    min-width: 95%;
    margin: 0 1em;
    background: none;
    box-shadow: none;
}
   
   #container_controle_direita {
    left: 0;
}
   
   #container_controle_esquerda{
     
     right:0;
     
   }
   
   #container_controle_direita, #container_controle_esquerda {
    top: 20%;
}
   
   #container_controle_esquerda, #container_controle_direita, #container_controle_direita_video, #container_controle_esquerda_video {
   
    position: absolute;
    padding: 7px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.67);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(6.9px);
    display:block;
}
   
   #autor-depoimento {
     
    font-size:1.1em;
    color: white;
}
   
   #texto-depoimento{
    
    font-size:0.9em;
    margin: 1.5em;
    color: white;
}
   
   .depoimentos h4 {
    
    font-size: 1.1em;
    
}
   
   .video_container {
    
    justify-items: center;
    align-items: center;
    padding-bottom: 3em;
    overflow: auto;
    position: relative;
    display: flex;
    scroll-snap-type: x mandatory;
}
   
   .video_depoimento h3 {
    
    font-size: 1em;
    
}
   
   video{
     
    max-height: 13em;
    max-width: 13em;
}
   
   #container_controle_direita_video, #container_controle_esquerda_video {
    bottom: 29%;
    
}
   
   .fotos-container {
    margin: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    position: relative;
    overflow: auto;
}
   
   .imagens {
    scroll-snap-align: start;
    height: 100%;
    background-color: white;
   
}
   
   .img {
    width: 70vw;
    height: 37vh;
}
   
   .localizacao_container {
    
    display: block;
    margin: 3rem 2rem;
     
   }
   
   .endereco_container {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 1em;
    width: 100%;
}
   
   .endereco_container h3 {
      margin: 0.5em 0;
      text-align: left;
      font-size: 1.5em;
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      font-weight: bold;
}
   
   .endereco_container p {
    color: black;
    text-align: left;
    font-size: 1.2em;
    line-height: 2em;
    font-family: 'Open Sans', sans-serif;
}
}


 @media screen and (min-width:375px) and (max-width:600px){
  
   
   .cabecalho{
     
   }
   
   #logo_wpp img{
     
     width:70%;
     
   }
   
   #container_controle_esquerda, #container_controle_direita{
  
  display:block;
  
}
   
   
   #banner_principal{
     
     filter:brightness(0.5);
   
   }
 
 
   h1{
    
     font-size:1.7em;
     
   }
   
 .master{
 
   margin-top: 4em;
 }
   
   #container_controle_esquerda, #container_controle_direita, #container_controle_direita_video , #container_controle_esquerda_video{
    
    position:absolute;
    padding:10px;
    cursor:pointer;
     background: rgba(255, 255, 255, 0.67);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(6.9px);
    
}
    
    #container_controle_direita_video,  #container_controle_esquerda_video{
    
    bottom:20%;
    z-index: 1;
     
   }

   
   
   #container_controle_direita_video{
    
     left:0;
   }
   
   #container_controle_esquerda_video{
     
     right:0;
     
   }

#container_controle_direita, #container_controle_esquerda{
    
    top:23%;
}

   #container_controle_direita{
    
     left:0;
   }
   
   
#container_controle_esquerda{
    
    right:0;
    
}
   
   .Slides{
     
     height:80vh;
     position:relative;
     
   }
   
   #logo{
   
     padding: 0.5rem;    
    position: absolute;
    left: 50%;
    top: 7%;
    width:35%;
    transform:translate(-50%, 0);
   }
   
   #chamada_1{
    position: absolute;
    font-family: 'Bebas Neue', cursive;
    color: #F1F7ED;
    font-size: 1.5em;
    text-transform: uppercase;
    left: 50%;
    transform:translate(-50%, 0)
    margin-top: 1rem;
    top: 34%;
     
   }
   
   #chamada_teste{
    
    position: absolute;
    font-family: 'Bebas Neue', cursive;
    color: #F1F7ED;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top: 1rem;
    top: 53%;
    left: 50%;
    transform:translate(-50%, 0)
    
   }
   
   .saibaMais{
     
     left: 50%;
     transform:translate(-50%, 0)
     background: #285861;
     color:#F1F7ED;
     font-size: 1em;
     padding: 0.7em 1.7em;
   }
   
   .next, .previous{
     
     display:none;
     
   }
   
   .cabecalho{
   
   flex-direction:column;
   flex-wrap:nowrap;
   }
 
   .navegacao__header{
 
     justify-content: center;
     margin: 0 auto;
     font-size:1.3em;
   }
   
   #sobreNos-container{
     align-items:center;
     justify-content:center;
     height:fit-content;
   
   }
   
   .sobreNos{
     flex-direction:column;
     height:fit-content;
     margin:4em 1em;
    
   }
   
   .sobreNos p{
     
     margin-top: 2rem;
     font-size:0.9em;
     text-align:justify;
   }
   .cursos_img{
    
     width:82vw;
     height:55vh;
     margin:0;
     
   }
   
   .cursos_imagem_container{
     
     width:80vw;
     height:50vh;
     margin:2em 0;
     flex:auto;
     
 }
   
   .cursos_container{
   flex-direction:column;
   flex-wrap:nowrap;
   align-items:center;
   
 }
   
  .collapsible{
  
    font-size: 1em;
   }
   
   .target{
     
     font-size:0.8em;
     
   }
   
   .descricao_curso{
     width:auto;
   }
   
   .descricao_curso p{
     
     font-size:1em;
     
   }
   
   .descricao_curso h2{
     
     font-size: 1.3em;
     
   }
   
   .descricao_curso h3{
     
     font-size: 1.2em;
     
   }
   
   
   
   .cursos_rapidos_container {
    
    display: flex;
    flex-direction: column;
    margin:0;
}
   
   .cursos_rapido h2 {
     
    
    font-size: 1.1em;
    
}
   
   .cursos_rapido{
    
    margin: 2em 0 2em 1em;
    width:auto;
     
   }
   
   .descricao_curso_rapido, .detalhes_cursos_rapido {
          
    font-size: 1em;
    
}
   
   .cursos_imagem_container_rapido{
    
     margin:1em auto;
     width: 90vw;
     
   }
   
   .cursos_img_rapido {
     
    width: 87vw;
    height: 91%;
    
}
   
   
   
   
   
   .detalhes_cursos_rapido a{
     
     padding: 1em 6em;
   }

   
   .instrutores-master{
     
    display: flex;
    scroll-snap-type: x mandatory;
    position: relative;
    overflow: auto;
     
   }
   
   .instrutores-container{
    
    
    min-width: 70%;
    scroll-snap-align: center;
     
   }
   
   .instrutores-container p{
     
     width:100%;
     line-height:1.5em;
     font-size:1em;
     text-align:center;
     
   }
   
   .instrutores-container h2{
    
     margin:1em 0;
     font-size:1.2em;
   }
   
   
   
   
   
   .img-instrutor{
     
    width: 90%;
    height: 18em;
     
   }
   
   .presidente{
      
    display: flex;
    margin: 3em 0;
    flex-direction: column;
    align-items: center;
     
   }
   
   .presidente figure{
   
   height: 19em;
   margin: 1em;
   width:85%;
     
   }
   
   .presidente h2{
     
     font-size:1.2em;
     
   }
   
   .presidente article{
     
     width: 100%;
     font-size:1em;
   }
   
   .presidente p{
    
     margin:2em;
     text-align:center;
     
   }
   
   .depoimentos{
     
     height:100%;
     position:relative;
 }
   
   .depoimentos_grid{
    
     scroll-snap-type:x mandatory;
     overflow:auto;
     position:relative;
     display:flex;
     padding-bottom:0;
     
     
   }
   
   
   
   .depoimentos-container{
     
     font-size: 1em;
     margin: 5rem 0;
     scroll-snap-align: center;
    min-width: 95%;
     margin:0 1em;
     background:none;
     box-shadow:none;
     
     
   }
   
   .video_container{
   
    scroll-snap-type: x mandatory;
    overflow: auto;
    display: flex;
    align-items: center;
    margin: 0 1em;
     
   }
   
   .video_depoimento {
    object-fit: cover;
    scroll-snap-align: center;
    min-width: 56vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    
      
      
   }
   
   video {
    
     width: 60%;
    height: 90%;
   }
   
   .depoimentos h4{
     
     font-size:1.2em;
     
   }
   
   .video_depoimento h3{
     
     font-size:1.1em;
     
   }
 

   
   #texto-depoimento{
    
     margin:8% 10% 2% 10%;
     color:white;
   }
   
   #autor-depoimento{
     
     color:white;
     
   }
   
   .foto{
     
     top:-23%;
     left:35%;
     width: 7em;
     height: 7em;
     
   }
 .fotos-container{
   
   margin:auto;
   display:flex;
   scroll-snap-type:x mandatory;
   position:relative;
   overflow:auto;
   
   }
   
   .img{
     
     
    width: 70vw;
    height: 37vh;
   }
   
   .imagens{
     
    scroll-snap-align: start;
    height:100%;
    background-color:white;
   }
   
   .form, .form_mensagem, .enviar{
     
     width:95vh;
     
     
   }
 
 #borda_chamada1, #borda_chamada2{
   
   width:90vh;
   padding: 2rem 0;
 
   
   
   }
   
   #borda_chamada3{
     width:88vh;
     padding:2rem 0;
     
   }
   
   #chamada_1, #chamada_2, #chamada_3{
 
     margin-top: 0;
   }
   
   #localizacao{
     
     width:100vh;
     margin:0;
     
   }
     
   
   .localizacao_container{
   
   display:block;  
   margin:3rem 2rem;
   
 }
   
   .endereco_container{
     
     
     display:inline-block;
     margin-bottom:1rem;
     font-size:1em;
     width:100%;
     
   }
   
   iframe{
     
     width:100%;
     
     
   }
   
   
   
   
 }



@media screen and (min-width:600px) and (max-width:1300px){
  
  
  .instrutores-master{
    
    display: flex;
    margin: 0 1em;
    overflow: auto;
}
     
.video_container {
    
    justify-items: center;
    align-items: center;
    padding-bottom: 3em;
    display: flex;
    
}

  .depoimentos_grid {
  
   grid-template-columns:1fr;
    
  }
  
  .presidente {

    display: flex;
    margin: 3em 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  
  .presidente figure {
    height: 30em;
    width: 69%;
}
  
  .presidente article{
    
    text-align:center;
    width:100%;
  
}
  
    #container_controle_direita_video,  #container_controle_esquerda_video{
    
    bottom:8%;
    z-index: 1;
     
   }
  
  .depoimentos-container {
    
    min-height: 14em;
  }
  
  
  .endereco_container {
    width: 100vw;
    margin: 1em;
}
  
  .instrutores-container {
    
    min-width: 20em;
}
  
  .cursos_rapidos_container {
    grid-template-columns: auto auto;
    
  
}
  
  .cursos_rapido {
    
    width:92%;
    
  }
.detalhes_cursos_rapido a{
  
  font-size: 0.7em;
  padding:1em 5em;
  }
  
  .localizacao_container {
    
    justify-content: flex-start;
}
  
  .localizacao_container iframe{
   
    margin-left:1em;
  }
  
  .fotos-container {
    grid-template-columns: auto auto auto auto;
    
}
  
}



  
  @media screen and (min-width:1500px){
    
    #container_controle_direita_video,  #container_controle_esquerda_video{
    
    display:none;
}
  
  
}
 
 
 
   
   
     
   
 
 
